@model RegisterViewModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="~/css/login.css" type="text/css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
    <div style="background-image: url('~/wwwroot/images/konyaalti.jfif');"></div>
    <div id="formContent">

        <div class="fadeIn first">
            <img src=/images/logo-large.png id="logo-large" alt="Belediye" />
        </div>

        <form class="w-75 mx-auto p-4 mt-3 shadow" asp-action="Register">
            <div class="form-group">
                <input asp-for="@Model.UserName." class="form-control">
                <input asp-for="@Model.Password" class="form-control">
                <input asp-for="@Model.ConfirmPassword" class="form-control">
                <input asp-for="@Model.Name" class="form-control">
                <input asp-for="@Model.SurName" class="form-control">
                <input asp-for="@Model.Email" class="form-control">
                <input type="submit" class="fadeIn fourth" value="Kayıt Yap">

            </div>
        </form>

    </div>
</div>